// Colors
$black:#000;
$gray-dark: #474a4f;
//$white: #fff;
$white-darker: #e0e0e0;

// Line height
$line-height: 1.25em;

// Font Sizes
$title-size: 2em;
$subtitle-size: 1.5em;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

:root {
    --primary-color: #87c232;
    --secondary-color: #222629;
    --text-color: #ffffff;
}