@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import "variables.scss";

body {
  font-family: 'Montserrat';
  background-color: var(--secondary-color);
  line-height: $line-height;
}

a {
  outline: none !important;
  text-decoration: none;
}

.btn.btn-primary {
  background-color: var(--primary-color);
  border: none;
  transition: .2s ease-in-out;
  color: var(--text-color);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--primary-color), .5);
  }
}

textarea,
input {
  background-color: $white-darker !important;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--primary-color), .5) !important;
    border: 1px solid var(--primary-color);
  }
}

h1 {
  color: var(--text-color);
  text-align: center;
  font-size: $title-size;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--primary-color);
}

.subtitle {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  font-size: $subtitle-size;
  border-bottom: 2px solid var(--primary-color);
}

.app {
  display: flex;

  .container-fluid {
    min-height: 100vh;
    padding: 2rem .5rem;
  }
}