@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');
@import "variables.scss";

body {
  font-family: 'Montserrat';
  background-color: var(--secondary-color);
  line-height: $line-height;

  &.scroll-lock {
    overflow-y: hidden;
  }
}

a {
  outline: none !important;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btn.btn-primary {
  background-color: var(--primary-color);
  border: none;
  transition: .2s ease-in-out;
  color: var(--text-color);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 .2rem rgba(var(--primary-color), .5);
  }
}

.btn:not(.btn-primary) {

  &:focus,
  &:hover {
    box-shadow: none;
  }
}

textarea,
input {
  background-color: $white-darker !important;
  font-family: 'Montserrat';

  &:hover,
  &:focus {
    box-shadow: 0 0 0 .2rem rgba(var(--primary-color), .5) !important;
    border: 1px solid var(--primary-color) !important;
  }
}

h1 {
  color: var(--text-color);
  font-size: $title-size;
  line-height: $line-height;
  margin-bottom: 1.5rem;

  @media (max-width: $lg) {
    font-size: 1.7em;
  }

  @media (max-width: $sm) {
    font-size: 1.5em;
  }

  i {
    margin-left: .5rem;
  }
}

.subtitle {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  font-size: $subtitle-size;
  border-bottom: 2px solid var(--primary-color);

  @media (max-width: $lg) {
    font-size: 1.3em;
  }

  @media (max-width: $sm) {
    font-size: 1.2em;
  }

  &.without-line {
    border: 0;
  }
}

.desc.darken {
  filter: brightness(.85);
}

.app {
  display: flex;
  overflow-y: auto;

  .container-fluid {
    min-height: 100vh;
    padding: 2rem .5rem;
  }
}