// Colors
$black:#000;
$gray-dark: #474a4f;
$white-darker: #e0e0e0;

// Line height
$line-height: 1.25em;

// Font Sizes
$title-size: 2em;
$subtitle-size: 1.5em;
$menu-size: 1.2em;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

:root {
    --primary-color: #18a0fb;
    --secondary-color: #0d1117;
    --text-color: #ffffff;
    --grey: #26283d;
    --grey-dark: #26283d4f;
    --grey-2: #505377;
}