@import "../assets/css/global.scss";

.chatbox {
    padding: 0 !important;
    position: relative;

    .chatbox-grid {
        display: grid;
        grid-template-columns: 250px auto;
        height: 100%;
    }

    .members-dropdown {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-row: 1/4;
        background-color: var(--grey);
        padding: 1.5rem .75rem;
        max-height: 100vh;
        overflow-y: auto;
        color: var(--text-color);

        .user {
            padding: .5rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .image {
                border-radius: 100%;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .avatar {
                position: relative;
                width: 30px;
                height: 30px;
                margin: 0 1rem 0 0;
            }

            .status {
                width: 12px;
                height: 12px;
                position: absolute;
                bottom: -1px;
                right: -1px;
                content: "";
                background-color: #198754;
                border-radius: 50%;

                &.offline {
                    background-color: #dc3545;
                }
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__messages {
        position: relative;
        height: calc(100vh - 45px - 1.5rem);
        overflow-y: scroll;
        margin: .5rem 0 0;
        padding: 0 .5rem 0 .5rem;
        color: var(--text-color);

        .image {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(calc(-100% - .25rem));
            width: 35px;
            height: 35px;
            overflow: hidden;
            border-radius: 100%;
            margin-bottom: .5rem;
        }

        .message {
            position: relative;
            width: fit-content;
            padding: 0 .5rem .5rem;
            margin-left: calc(35px + .5rem);
            border-radius: .25rem;
            margin-top: 1rem;

            &.merged {
                padding: 0 .5rem .5rem;
                margin-top: 0;
            }

            &.right {
                margin-left: auto;
                margin-right: 3rem;

                .image {
                    left: unset;
                    right: 0;
                    transform: translateX(calc(100% + .25rem));
                }

                .header {
                    flex-direction: row-reverse;
                }

                .sender {
                    margin-left: .75rem;
                    text-align: right;
                }

                .body {
                    margin: 0 0 0 6.7rem;
                    display: flex;
                    justify-content: flex-end;
                    text-align: right;
                }
            }

            &.left {
                margin-right: auto;
            }

            .sender {
                font-weight: 600;
            }

            .time {
                font-size: 0.8em;
                margin-left: .75rem;
            }

            .file-image {
                display: block;
                height: 200px;
                max-width: 400px;
                border-radius: 1rem;
                overflow: hidden;
                padding: .5rem;
                border: 1px solid $gray-dark;
                margin-top: .5rem;

                img {
                    border-radius: .75rem;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .file {
                display: flex;
                align-items: center;
                margin-top: 1rem;
                color: var(--text-color);

                i {
                    margin-right: 1rem;
                    font-size: 1.8em;
                }
            }
        }

        .header {
            display: flex;
            padding: .5rem 0;
        }

        .body {
            display: flex;
            margin-right: 6.7rem;

            @media (max-width: $md) {
                margin: 0 !important;
            }
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: $white-darker;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--primary-color);
        }
    }

    &__form {
        margin: .5rem 0 .5rem .5rem;
        display: flex;
        gap: .5rem;
        height: 45px;
        position: relative;

        .form-control {
            padding-right: 6.1rem;
        }

        .btn-primary {
            min-width: 45px;
            min-height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-file,
        .btn-emoji {
            position: absolute;
            padding: 0;
            height: 45px;
            display: flex;
            align-items: center;
            right: calc(45px + 1rem);

            i {
                color: var(--primary-color);
                font-size: 2em;
            }
        }

        .btn-file {
            span {
                position: absolute;
                background-color: var(--primary-color);
                top: 0;
                right: -0.5rem;
                color: var(--text-color);
                border-radius: 70%;
                min-width: 18px;
                padding: 0 .3rem;
                font-size: .8em;
                text-align: center;
            }
        }

        .btn-emoji {
            right: calc(78px + 2rem);

            @media (max-width: $lg) {
                display: none;
            }
        }

        &__scroll-down {
            position: absolute;
            top: calc(-45px - 1.5rem);
            right: calc(6px + .5rem);
            border-radius: 100%;
            background-color: $gray-dark !important;
            box-shadow: none !important;
            opacity: 0;
            pointer-events: none;

            &--scrolling {
                top: calc(-45px - .5rem);
                opacity: 1;
                pointer-events: unset;
            }

            &:hover {
                i {
                    top: .3rem;
                }
            }

            i {
                position: relative;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .2s ease-in-out;
                font-size: 1.35em;
            }
        }
    }

    #files {
        display: none;
    }

    .more-messages {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 100%;
        background-color: $gray-dark !important;
        box-shadow: none !important;
        min-width: 45px;
        min-height: 45px;

        i {
            color: var(--text-color);
            transition: .2s ease-in-out;
            font-size: 1.35em;
        }
    }

    unicode-emoji-picker {
        position: absolute;
        margin-right: calc(45px + .5rem);
        bottom: calc(45px + .5rem);
        right: 0;
        opacity: 0;
        transition: .2s ease-in-out;
        pointer-events: none;
        font-size: 1.2em;
        --fill-color: #393938;
        --text-color: #fffffc;
        --box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.35);
        --filters-border-color: #30302a;
        --filter-fill-color-hover: #454540;
        --content-scrollbar-thumb-fill-color: #50504a;
        --content-scrollbar-thumb-fill-color-hover: #76766f;
        --filter-active-marker-border-color: #595955;
        --title-bar-fill-color: rgba(57, 57, 55, 0.96);
        --search-input-border-color: #50504a;
        --search-input-border-color-hover: #eee;
        --emoji-border-color-hover: #595955;
        --variations-backdrop-fill-color: rgba(57, 57, 55, 0.8);
        --emoji-variation-marker-border-color: #50504a;
        --emoji-variation-marker-border-color-hover: #76766f;

        @media (max-width: $lg) {
            display: none;
        }

        &.show {
            opacity: 1;
            pointer-events: unset;
        }
    }

    #emoji-filler {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        display: none;

        &.show {
            display: block;
        }
    }
}