@import "../assets/css/global.scss";

.chatbox {
    padding: 0 !important;
    position: relative;

    .aside-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, .85);
        z-index: 800;
        opacity: 0;
        pointer-events: none;
        transition: .2s ease-in-out;

        &.show {
            @media (max-width: $md) {
                opacity: 1;
                pointer-events: unset;
            }
        }
    }

    .chatroom-menu {
        position: fixed;
        z-index: 1500;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        padding: .8rem .25rem;
        align-items: flex-start;
        background-color: var(--grey);
        height: 49px;

        @media (min-width: $md) {
            width: $chatroom-aside-width;
            height: 100%;
        }

        @media (max-width: $md) {
            justify-content: center;
            left: 1rem;
        }

        .subtitle {
            padding: 0;
            margin: 0;
        }

        .members-header {
            display: flex;
            align-items: center;

            .subtitle {
                margin-left: .5rem;

                @media (max-width: $md) {
                    display: none;
                }
            }
        }

        .members-toggler {
            display: flex;
            transition: .2s ease-in-out;

            &:hover {
                filter: brightness(.9);
            }

            @media (min-width: $md) {
                display: none;
            }

            i {
                font-size: 1.6em;
                color: var(--text-color);
            }
        }
    }

    .members-aside {
        max-height: 100vh;
        overflow-y: auto;
        color: var(--text-color);
        width: 100%;
        padding-top: 1rem;
        transition: .2s ease-in-out left;

        @media (max-width: $md) {
            position: fixed;
            pointer-events: none;
            display: flex;
            flex-direction: column;
            top: 49px;
            left: -$chatroom-aside-width;
            padding: 0 .25rem;
            width: $chatroom-aside-width;
            height: 100%;
            background-color: var(--grey);
        }

        &.show {
            @media (max-width: $md) {
                pointer-events: unset;
                left: 0;
            }
        }

        .subtitle {
            text-align: left;
            margin: .25rem 0 .5rem .5rem;

            @media (min-width: $md) {
                display: none;
            }
        }

        .user {
            padding: .5rem;
            border-radius: .2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            transition: .2s ease-in-out;

            &:not(:first-child) {
                margin-top: .5rem;
            }

            &.friend:hover {
                background-color: var(--grey-2);
            }

            .image {
                border-radius: 100%;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .avatar {
                position: relative;
                width: 30px;
                height: 30px;
                margin: 0 .6rem 0 0;
            }

            .name {
                font-size: 14px;
            }

            .btn-chat {
                font-size: 1.25em;
                margin-left: auto;
                color: var(--primary-color);
            }

            .status {
                width: 12px;
                height: 12px;
                position: absolute;
                bottom: -1px;
                right: -1px;
                content: "";
                background-color: #198754;
                border-radius: 50%;

                &.offline {
                    background-color: #dc3545;
                }
            }
        }
    }

    &__messages {
        position: relative;
        height: calc(100vh - 45px - 1.5rem - 49px);
        overflow-y: scroll;
        margin: calc(49px + .5rem) .5rem 0 0;
        padding: 0 .5rem 0 .5rem;
        color: var(--text-color);

        @media (min-width: $md) {
            margin-left: $chatroom-aside-width;
        }

        .image {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(calc(-100% - .25rem));
            width: 35px;
            height: 35px;
            overflow: hidden;
            border-radius: 100%;
            margin-bottom: .5rem;
        }

        .message {
            position: relative;
            width: fit-content;
            padding: 0 .5rem .5rem;
            margin-left: calc(35px + .5rem);
            border-radius: .25rem;
            margin-top: 1rem;

            &.merged {
                padding: 0 .5rem .5rem;
                margin-top: 0;
            }

            &.right {
                margin-left: auto;
                margin-right: 3rem;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .image {
                    left: unset;
                    right: 0;
                    transform: translateX(calc(100% + .25rem));
                }

                .header {
                    flex-direction: row-reverse;
                }

                .sender {
                    margin-left: .75rem;
                    text-align: right;
                }

                .body {
                    margin: 0 0 0 6.7rem;
                    display: flex;
                    justify-content: flex-end;
                    text-align: right;
                }

                .file {
                    flex-direction: row-reverse;

                    div {
                        text-align: right;
                    }

                    i {
                        margin: 0 0 0 1rem;
                    }
                }
            }

            &.left {
                margin-right: auto;
            }

            .sender {
                font-weight: 600;
                word-break: break-word;
            }

            .time {
                font-size: .8em;
                margin-left: .75rem;
            }

            .file-image {
                position: relative;
                height: 200px;
                max-width: 400px;
                border-radius: .25rem;
                padding: .5rem;
                border: 1px solid var(--grey-2);
                margin-top: .5rem;

                &.show {
                    position: fixed;
                    z-index: 500;
                    top: 0;
                    right: 0;
                    max-width: unset;
                    height: calc(100vh - 49px);
                    width: calc(100vw - 290px);
                    margin: 49px 0 0;
                    background-color: rgba($black, .85);
                    border: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (max-width: $md) {
                        width: 100vw;
                    }

                    img {
                        max-height: 80vh;
                        max-width: calc(80vw - 290px);
                        height: auto;
                        width: auto;
                        object-fit: unset;
                        border-radius: 0;

                        @media (max-width: $md) {
                            max-width: 90vw;
                        }
                    }

                    .btn-menu {
                        background-color: transparent;
                        z-index: 600;
                        opacity: 1 !important;
                        width: auto;
                        height: auto;
                        left: unset;
                        right: 1rem;
                        top: 1rem;
                    }

                    .btn-download,
                    .btn-show {
                        display: none !important;
                    }

                    .btn-hide {
                        display: block !important;
                        color: var(--text-color);
                        font-size: 2.2em;
                        transition: .2s ease-in-out;

                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }

                &:hover {
                    .btn-menu {
                        opacity: 1;
                        pointer-events: unset;
                    }
                }

                .btn-menu {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--grey);
                    opacity: 0;
                    pointer-events: none;
                    transition: .2s ease-in-out opacity;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .btn-hide {
                        display: none;
                    }

                    i {
                        pointer-events: none;
                    }

                    .btn-download,
                    .btn-show {
                        display: flex;
                        color: var(--text-color);
                        font-size: 1.8em;
                        transition: .2s ease-in-out;

                        &:hover {
                            color: var(--primary-color);
                        }

                        &:first-child {
                            margin-right: 1rem;
                        }
                    }
                }

                img {
                    border-radius: .25rem;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .file {
                display: flex;
                align-items: center;
                margin-top: 1rem;
                color: var(--text-color);

                i {
                    margin-right: 1rem;
                    font-size: 1.8em;
                }
            }
        }

        .header {
            display: flex;
            padding: .5rem 0;
        }

        .body {
            word-break: break-word;
            display: flex;
            margin-right: 6.7rem;

            @media (max-width: $md) {
                margin: 0 !important;
            }
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: $white-darker;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--primary-color);
        }
    }

    &__form {
        margin: .5rem 0 .5rem .5rem;
        display: flex;
        gap: .5rem;
        height: 45px;
        position: relative;

        @media (min-width: $md) {
            margin-left: $chatroom-aside-width;
            padding-left: .5rem;
        }

        .form-control {
            padding-right: 6.1rem;
        }

        .btn-primary {
            min-width: 45px;
            min-height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: .5rem;
        }

        .btn-file,
        .btn-emoji {
            position: absolute;
            padding: 0;
            height: 45px;
            display: flex;
            align-items: center;
            right: calc(45px + 1.5rem);

            i {
                color: var(--primary-color);
                font-size: 2em;
            }
        }

        .btn-file {
            span {
                position: absolute;
                background-color: var(--primary-color);
                top: 0;
                right: -0.5rem;
                color: var(--text-color);
                border-radius: 70%;
                min-width: 18px;
                padding: 0 .3rem;
                font-size: .8em;
                text-align: center;
            }
        }

        .btn-emoji {
            right: calc(78px + 2.5rem);

            @media (max-width: $lg) {
                display: none;
            }
        }

        &__scroll-down {
            position: absolute;
            top: calc(-45px - 1.5rem);
            right: calc(6px + .5rem);
            border-radius: 100%;
            background-color: $gray-dark !important;
            box-shadow: none !important;
            opacity: 0;
            pointer-events: none;

            &--scrolling {
                top: calc(-45px - .5rem);
                opacity: 1;
                pointer-events: unset;
            }

            &:hover {
                i {
                    top: .3rem;
                }
            }

            i {
                position: relative;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .2s ease-in-out;
                font-size: 1.35em;
            }
        }
    }

    #files {
        display: none;
    }

    .more-messages {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 100%;
        background-color: $gray-dark !important;
        box-shadow: none !important;
        min-width: 45px;
        min-height: 45px;

        i {
            color: var(--text-color);
            transition: .2s ease-in-out;
            font-size: 1.35em;
        }
    }

    unicode-emoji-picker {
        position: absolute;
        margin-right: calc(45px + .5rem);
        bottom: calc(45px + .5rem);
        right: 0;
        opacity: 0;
        transition: .2s ease-in-out;
        pointer-events: none;
        font-size: 1.2em;
        --fill-color: #393938;
        --text-color: #fffffc;
        --box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .35);
        --filters-border-color: #30302a;
        --filter-fill-color-hover: #454540;
        --content-scrollbar-thumb-fill-color: #50504a;
        --content-scrollbar-thumb-fill-color-hover: #76766f;
        --filter-active-marker-border-color: #595955;
        --title-bar-fill-color: rgba(57, 57, 55, .96);
        --search-input-border-color: #50504a;
        --search-input-border-color-hover: #eee;
        --emoji-border-color-hover: #595955;
        --variations-backdrop-fill-color: rgba(57, 57, 55, .8);
        --emoji-variation-marker-border-color: #50504a;
        --emoji-variation-marker-border-color-hover: #76766f;

        @media (max-width: $lg) {
            display: none;
        }

        &.show {
            opacity: 1;
            pointer-events: unset;
        }
    }

    #emoji-filler {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        display: none;

        &.show {
            display: block;
        }
    }
}