@import "../assets/css/global.scss";

.chatbox {
    padding: 0 .5rem !important;

    &__messages {
        height: calc(100vh - 45px - 1.5rem);
        overflow-y: scroll;
        margin: .5rem 0 0;
        padding-right: .5rem;

        .message {
            width: fit-content;
            background-color: var(--primary-color);
            margin: .5rem 0 0;
            padding: .5rem 1rem;
            border-radius: .25rem;

            &--merged {
                margin: .1rem;
            }

            &--right {
                margin-left: auto;
            }

            &--left {
                margin-right: auto;
            }

            &__sender {
                font-weight: 600;
                margin-bottom: .25rem;
            }

            &__body {
                display: flex;
                column-gap: .5rem;

                &__time {
                    font-size: 0.8em;
                    min-width: max-content;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: $white-darker;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--primary-color);
        }
    }

    &__form {
        margin: .5rem 0;
        display: flex;
        gap: .5rem;
        height: 45px;
        position: relative;

        .btn-primary {
            min-width: 45px;
            min-height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__scroll-down {
            position: absolute;
            top: calc(-45px - 1.5rem);
            right: calc(6px + .5rem);
            border-radius: 100%;
            background-color: $gray-dark !important;
            box-shadow: none !important;
            opacity: 0;
            pointer-events: none;

            &--scrolling {
                top: calc(-45px - .5rem);
                opacity: 1;
                pointer-events: unset;
            }

            &:hover {
                i {
                    top: .3rem;
                }
            }

            i {
                position: relative;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .2s ease-in-out;
                font-size: 1.35em;
            }
        }
    }

    .more-messages {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 100%;
        background-color: $gray-dark !important;
        box-shadow: none !important;
        min-width: 45px;
        min-height: 45px;

        i {
            color: var(--text-color);
            transition: .2s ease-in-out;
            font-size: 1.35em;
        }
    }
}