@import "../assets/css/global.scss";

#home {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .home-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        place-items: flex-start;
        width: 100%;

        @media (max-width: $xxl) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $lg) {
            grid-template-columns: repeat(1, 1fr);
            gap: .75rem;
        }
    }

    .title {
        color: var(--text-color);
    }

    .desc {
        margin-bottom: 1rem;
    }

    .friend-requests,
    .my-chatrooms,
    .friends {
        padding: 1.5rem;
        background: linear-gradient(180deg, var(--grey) 0%, var(--grey-dark) 100%);
        width: 100%;

        @media (max-width: $md) {
            padding: 1rem;
        }
    }

    .find {
        margin-bottom: 1.5rem;

        i {
            margin-left: .5rem;
        }
    }

    .my-chatrooms {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: $xxl) and (min-width: $lg) {
            grid-column: 1/3;
        }

        .flex-chatrooms {
            border: 0;
            color: var(--text-color);
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .accordion-item {
            border: 0;
            border-radius: .2rem;
            background-color: transparent;
            transition: .2s ease-in-out;

            &:hover {
                background-color: var(--grey-2);
            }

            &:not(:first-child) {
                margin-top: .5rem;
            }
        }

        .accordion-btn {
            background-color: transparent;
            width: auto;
            padding: 0 .25rem;
            color: var(--primary-color);
            display: flex;
            align-items: center;
            transition: .1s ease-in-out;
            transform: rotate(180deg);

            i {
                font-size: 1.3em;
            }

            &.collapsed {
                transform: rotate(0deg);
            }
        }

        .accordion-body {
            padding-top: 0;
        }

        .accordion-collapse {
            transition: 0s;

            &.show {
                transition-delay: .2s;
            }
        }

        .flex-item {
            display: flex;
            align-items: center;
            color: var(--text-color);
        }
    }

    .link {
        width: 100%;
        padding: .75rem;
        color: var(--text-color);
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            margin-left: .5rem;
        }
    }

    .leave.btn {
        color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 1.4em;
        }
    }

    .flex-info {
        color: var(--text-color);
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid var(--primary-color);

        .flex-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .users {
        display: flex;
        align-items: center;
        flex-direction: column;

        .users-list {
            margin-top: .5rem;
            width: 100%;
        }
    }

    .user {
        padding: .5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image {
            border-radius: 100%;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .avatar {
            position: relative;
            width: 30px;
            height: 30px;
            margin: 0 1rem 0 0;
        }

        .status {
            width: 12px;
            height: 12px;
            position: absolute;
            bottom: -1px;
            right: -1px;
            content: "";
            background-color: #198754;
            border-radius: 50%;

            &.offline {
                background-color: #dc3545;
            }
        }

        .name {
            margin: 0 auto 0 0;
        }

        .btn {
            padding: 0
        }

        i {
            color: var(--primary-color);
            font-size: 1.2em;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    .friends {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .friend-requests {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .requests {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .friend-request {
        color: var(--text-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .44rem;
        transition: .2s ease-in-out;
        border-radius: .2rem;

        @media (max-width: $sm) {
            display: grid;
            grid-template-columns: 30px auto 1fr;
            gap: .5rem 1rem;
        }

        &:hover {
            background-color: var(--grey-2);
        }

        .image {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            overflow: hidden;
            margin: 0 1rem;

            @media (max-width: $sm) {
                margin: 0;
            }
        }

        .name {
            margin-right: auto;
        }

        .date {
            display: flex;
            font-size: 13px;

            @media (max-width: 390px) {
                flex-direction: column;
                align-items: center;
            }
        }

        .time {
            margin-left: 1rem;

            @media (max-width: 390px) {
                margin-left: 0;
            }
        }
    }

    .buttons {
        display: flex;

        @media (max-width: $sm) {
            justify-content: flex-end;
        }
    }

    .add,
    .cancel {
        display: flex;
        align-items: center;

        i {
            font-size: 1.15em;
        }
    }

    .add {
        padding: 0 .5rem 0 0;

        i {
            color: var(--primary-color);
        }
    }

    .cancel {
        padding: 0 .5rem 0;

        i {
            color: #dc3545;
        }
    }

    .friend-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .friend {
        color: var(--text-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: .2rem;
        transition: .2s ease-in-out;

        &:not(:first-child) {
            margin-top: .5rem;
        }

        &:hover {
            background-color: var(--grey-2);
        }

        .name {
            padding: .44rem;
            color: var(--text-color);
            width: 100%;
            display: flex;
            align-items: center;
        }

        .image {
            border-radius: 100%;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .avatar {
            position: relative;
            width: 30px;
            height: 30px;
            margin: 0 1rem 0 0;
        }

        .status {
            width: 12px;
            height: 12px;
            position: absolute;
            bottom: -1px;
            right: -1px;
            content: "";
            background-color: #198754;
            border-radius: 50%;

            &.offline {
                background-color: #dc3545;
            }
        }

        .cancel {
            padding: .75rem;
        }
    }
}

.action-box {
    display: flex;

    .btn-chat {
        margin-right: 1rem;
        font-size: 1.15em;
    }
}

#staticBackdrop {
    .modal-content {
        color: var(--text-color);
        background: linear-gradient(180deg, var(--grey) 0%, var(--grey-dark) 100%);
    }

    .btn.close {
        padding: 0;

        i {
            color: var(--text-color);
            font-size: 1.5em;
        }
    }

    .modal-header {
        border-bottom: 2px solid var(--primary-color);
        padding: .75rem 1rem;
    }

    .modal-body {
        label {
            color: #000;
        }

        .grid-found-users {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: .5rem;

            @media (max-width: $lg) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .user {
        color: var(--text-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .44rem;
        transition: .2s ease-in-out;
        border-radius: .2rem;

        &:hover {
            background-color: var(--grey-2);
        }

        .btn {
            padding: 0;
            display: flex;
            align-items: center;
        }

        i {
            color: var(--primary-color);
            font-size: 1.2em;
        }
    }

    .content {
        display: flex;
        align-items: center;

        .image {
            border-radius: 100%;
            overflow: hidden;
            width: 35px;
            height: 35px;
            margin-right: 1rem;
        }
    }

    .cancel {
        padding: 0 0 0 .5rem;

        i {
            color: #dc3545;
        }
    }
}