@import "../assets/css/global.scss";

.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $lg) {
        padding: 1rem .75rem;
    }

    .settings-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        place-items: flex-start;

        @media (max-width: $xxl) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $lg) {
            grid-template-columns: repeat(1, 1fr);
            gap: .75rem;
        }
    }

    form {
        background: linear-gradient(180deg, var(--grey) 0%, var(--grey-dark) 100%);
        color: var(--text-color);
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem !important;

        @media (max-width: $lg) {
            padding: 1rem !important;
        }

        .subtitle {
            margin-right: auto;

            i {
                margin-left: .5rem;
            }
        }
    }

    .colors-form {
        padding-left: 2.5rem;

        .form-input {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .44rem;
            border-radius: .2rem;
            transition: .2s ease-in-out;

            &:not(:first-child) {
                margin-top: .5rem;
            }

            &:hover {
                background-color: var(--grey-2);
            }
        }

        .btn {
            margin-top: 1rem;
        }
    }

    .profile-form {
        padding-right: 1rem;

        .file-input,
        .form-floating {
            width: 100%;

            label {
                color: #000;
            }
        }

        .file-input {
            label {
                color: var(--text-color);
                margin-top: 1rem;
                display: flex;
                align-items: center;

                .image {
                    width: 30px;
                    height: 30px;
                    overflow: hidden;
                    border-radius: 100%;
                    margin-left: .75rem;
                }
            }
        }
    }

    .btn-primary {
        margin: 1rem auto 0 0;
    }
}